.streamlit/secrets.toml
.streamlit/
*.venv/
env/
venv/
__pycache__/
*.pyc
.ipynb_checkpoints
.DS_Store
.idea/
.vscode/
*.log
data/
models/
notebooks/
outputs/
*.sqlite3
*.db
*.env
*.bak
*.tmp
*.swp
coverage/
htmlcov/
.pytest_cache/
.mypy_cache/
.cache/
dist/
build/
*.egg-info/
.eggs/
pip-wheel-metadata/
__pypackages__/
*.egg
*.tar.gz
*.zip
*.log
*.pot
*.mo
*.cover
*.pid
*.seed
*.coveragerc
.tox/
.md